<launch>

  <!-- defines name of the namespace of the drone -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />

  <arg name="standalone" default="true" />

  <!-- will it run using GNU debugger? -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="manager" default="$(arg UAV_NAME)_edge_detector_manager" />
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>

  <!-- Namespace -->
  <group ns="$(arg UAV_NAME)">

  <arg name="input_rgb" default="/camera/realsense2_camera/color/image_raw" />
  <arg name="input_t" default="/thermal/image_rect_color" />
  <arg name="camera_info" default="/camera/realsense2_camera/color/camera_info" />
  <arg name="network_mode" default="thermal" />
  <arg name="no_detections_treshold" default="5" />
  <arg name="drone_width" default="0.5" />

  <arg name="config_rgb" default="~/workspace/src/drone_localization_ros_mmdet/configs/faster_rcnn_x101_32x8d_fpn_rgb.py" />
  <arg name="model_rgb" default="~/workspace/src/drone_localization_ros_mmdet/weights/rgb/big/epoch_15.pth" />
  <arg name="config_thermal" default="~/workspace/src/drone_localization_ros_mmdet/configs/faster_rcnn_x101_32x8d_fpn_t.py" />
  <arg name="model_thermal" default="~/workspace/src/drone_localization_ros_mmdet/weights/t/big/epoch_15.pth" />
  
  <arg name="visualization" default="false" />

  <node name="drone_localization_ros"  pkg="drone_localization_ros" type="drone_localization_ros" output="screen" >
    <param name="input_rgb" value="$(arg input_rgb)" />
    <param name="input_t" value="$(arg input_t)" />
    <param name="camera_info" value="$(arg camera_info)" />
    <param name="network_mode" value="$(arg network_mode)" />
    <param name="no_detections_treshold" value="$(arg no_detections_treshold)" />
    <param name="drone_width" value="$(arg drone_width)" />
    <param name="config_rgb" value="$(arg config_rgb)" />
    <param name="model_rgb" value="$(arg model_rgb)" />
    <param name="config_thermal" value="$(arg config_thermal)" />
    <param name="model_thermal" value="$(arg model_thermal)" />
    <param name="visualization" value="$(arg visualization)" />
  </node>
  </group>
</launch>